* {
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
}


.backgroundColor {
  font-family: "Overpass", sans-serif;
  background-color: #F7A8C4;
  color: #151313;
}

.color {
  color: #B76E79;
}

.text2 {
  color: #703B42;
}

.login-btn {
  background-image: linear-gradient(to right, #f27db6, #bc1060);
  color: white !important;
}

/* .form-title {
  margin: -2rem 0rem 2rem;
}


.delimiter {
  padding: 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}

.gradient-btn {
  background-image: linear-gradient(to right, #f27db6, #bc1060);
  border: none;
  color: white;
  transition: 0.4s ease;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}

.gradient-btn:hover {
  background-image: linear-gradient(to right, #f27db6, #bc1060);
} */

.about-heros-image {
  width: 100%;
}

.text-content {
  text-align: justify;
}

.miss-avnitext {
  margin-left: 11rem !important;
}

.miss-aahanatext {
  margin-left: 8rem !important;
}

.about-heros-image {
  max-height: 780px;
  object-fit: cover;
}

/* hdfjh */

/*-----about-----*/
.About {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding-top: 102px;
}

.info h2 {
  text-shadow: 2px 2px 4px white;
  color: #FF2E91;
}

.info {
  padding: 10px;
  text-align: justify;
  display: block;
  font-size: 20px;
}

.picture {
  border-radius: 5%;
}

/* button {
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  border: 2px solid violet;
  background-color: violet;
} */
.register-button {
  padding: 10px 25px;
  color: #fff;
  background: linear-gradient(135deg, #e040fb, #7c4dff);
  border: 1px solid #F7A8C4;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(124, 77, 255, 0.4);
  transition: all 0.3s ease;
}

.register-button:hover {
  background: #fff;
  color: #7c4dff;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}


.testimonals {
  text-align: center;
  font-style: italic;
}

.quote-section {
  color: rgb(29, 27, 27);
  padding: 60px 30px;
  position: relative;
}

.profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}

.quote-text {
  font-size: 1.2rem;
  font-style: italic;
}

.quote-author {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.1rem;
}

/*-------------------Co-Founder----------------*/
.founder-name {
  font-weight: bold;
  font-size: 1.25rem;
  color: #0f0f0f;
}

.co-founder {
  color: #ff4dab;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  /* optional shadow */
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 77, 171, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  border-radius: 15px;
}

.card:hover::before {
  opacity: 1;
}

.card-body {
  position: relative;
  z-index: 2;
}

.card-img-top {
  border-radius: 15px;
  height: auto;
  width: 100%;
  object-fit: contain;
  padding: 10px;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
}

.highlight {
  color: #ff4dab;
}

/*-------jury panel----------*/
.jury-card {
  background: #000;
  /* black background */
  color: white;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  height: 100%;
}

.jury-card img {
  border-radius: 20px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.role-title {
  font-size: 0.9rem;
  color: #FF2E91;
  font-weight: 600;
}

/* .........................footer ...........................*/
.pg-footer {
  font-family: 'Roboto', sans-serif;
}

.footer {
  background-color: #000;
  color: #fff;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill: #F7A8C4;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #F7A8C4;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

#menu-company a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

#menu-company a:hover {
  color: #F7A8C4;
  transform: scale(1.05);
  text-decoration: none;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-button {
  background-color: #b32e65;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-call-to-action-button {
  /* background-color: #F7A8C4; */
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 14px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #F7A8C4;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #F7A8C4;
}

.footer-social-link.linkedin {
  height: 36px;
  left: 3px;
  top: 11px;
  width: 36px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill .2s;
}

.footer-social-link.twitter {
  height: 38px;
  left: 62px;
  top: 3px;
  width: 38px;
}

.footer-social-link.youtube {
  height: 34px;
  left: 123px;
  top: 12px;
  width: 34px;
}

.footer-social-link.github {
  height: 44px;
  left: 172px;
  top: 7px;
  width: 44px;
}

.footer-copyright {
  background-color: #F7A8C4;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* start media */
@media (max-width: 768px) {
  .nav>div {
    text-align: center;
    margin-bottom: 10px;
  }
}

/* navbar end */
.container {
  padding: 2rem 0rem;
}

/* @media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;

    .modal-content {
      padding: 1rem;
    }
  }
}

.modal-header {
  .close {
    margin-top: -1.5rem;
  }
} */

/* Responsive adjustments */
@media (max-width: 900px) {
  .team-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .team-card {
    width: 100%;
  }

  .quote-section {
    padding: 0;
  }

  .quote-text {
    padding-top: 20px;
  }
}


@media (max-width: 1000px) {
  .team-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .team-card {
    width: 100%;
  }
}

@media (min-width:320px) and (max-width:479px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:480px) and (max-width:599px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:600px) and (max-width: 800px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}


@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 390px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

@media (max-width: 760px) {
  .footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    color: #fff;
  }

  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 580px;
    /* position: relative; */
  }

  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .footer-menu-name {
    font-size: 15px !important;
  }

  .footer-copyright-text {
    font-size: 9px;
  }
}