

/* Newsletter Section */
.newsletter-section {
	padding: 30px;
	max-width: 800px;
	margin: 100px auto;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

body.dark .newsletter-section {
	background: #2c2c3d;
}
body.dark .topbar {
  background: #2a2a3d;
  color: #fff;
}
body.dark .sidebar {
	background: linear-gradient(135deg, #2f3a57 10%, #3e2b47 100%);
	color: #ffffff;
}

.newsletter-section h2 {
	color: #dc4083;
	margin-bottom: 15px;
}

.newsletter-section p {
	line-height: 1.6;
	margin-bottom: 25px;
}

.newsletter-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.newsletter-form input[type="email"] {
	padding: 10px;
	width: 60%;
	max-width: 300px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.newsletter-form button {
	padding: 10px 20px;
	background: #ec407a;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.gmail-icon {
	width: 60px;
	margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
	.dashboard {
		flex-direction: column;
	}

	.sidebar {
		width: 100%;
		height: auto;
		flex-direction: row;
		overflow-x: auto;
		position: relative;
		padding: 1rem;
		justify-content: space-between;
	}

	.main {
		margin-left: 0;
		width: 100%;
		padding-top: 80px;
	}

	.topbar {
		left: 0;
		width: 100%;
	}

	.newsletter-form {
		flex-direction: column;
		align-items: center;
	}

	.newsletter-form input[type="email"] {
		width: 90%;
	}
}