

/* Main Content */
.main {
	flex: 1;
	padding: 80px 20px 20px;
}

.tabs {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}

.tabs span {
	padding: 10px;
	border-bottom: 2px solid transparent;
}

.tabs span.active {
	font-weight: bold;
	border-bottom: 2px solid white;
}

/* Gallery */
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
}

.media-card {
	background-color: #fff;

	
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.media-card img,
.media-card video,
.media-card iframe {
	width: 100%;
	height: 100%;
	object-fit: cover;

}

/* Dark Theme */
body.dark {
	background-color: #1e1e1e;
	color: #eee;
}

body.dark .sidebar,
body.dark .topbar,
body.dark .tabs span.active {
	background-color: #333;
	color: #fff;
}

body.dark .tabs span{
	color: black;
	font-weight: bold;
}

body.dark .media-card {
	background-color: #2e2e2e;
}
body.dark .topbar {
  background: #2a2a3d;
  color: #fff;
}
body.dark .sidebar {
	background: linear-gradient(135deg, #2f3a57 10%, #3e2b47 100%);
	color: #ffffff;
}
/* Responsive Sidebar for Tab to Big Screen */
@media (min-width: 768px) {
	.dashboard {
		flex-direction: row;
	}

	.sidebar {
		display: block;
		width: 240px;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
	}

	.topbar {
		left: 240px;
		width: calc(100% - 240px);
	}

	.main {
		margin-left: 240px;
		width: calc(100% - 240px);
	}
}

/* Smaller screen adjustments */
@media (max-width: 500px) {
	.media-card {
		height: 200px;
	}
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.lightbox.active {
	display: flex;
}

.lightbox img {
	max-width: 90%;
	max-height: 90%;
	border-radius: 8px;
}

.lightbox .close-btn {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 2rem;
	color: white;
	cursor: pointer;
}