

/*/////////////////////////////////////////////////////////////////*/


.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-row {
  animation: highlight 1s ease-in-out;
}
.tablebody{
  background-color: #ffeaf5;
}
@keyframes highlight {
  0% {
     background: linear-gradient(145deg, #fdf6fb, #ffe6f0);
  }

  100% {
    background-color: transparent;
  }
}
.add-event{
   background: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(111, 66, 193, 0.25);
  border: 1px solid #6a11cb;
  transition: 0.3s ease-in-out;
}

.table th {
  background-color: #4e54c8;
  color: white;
  font-weight: 600;
}

.modal-content {
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.modal-header,
.modal-footer {
  border: none;
}


.btn-gradient {
  background: linear-gradient(135deg, #d837cb 0%, #d80d94 100%);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}

.card-header.bg-gradient {
  background: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}